<configuration>
    <system.webServer>
        <handlers>
            <!-- Map all requests to the Python FastCGI handler -->
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\python.exe|C:\Python39\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <fastCgi>
            <application fullPath="C:\Python39\python.exe" arguments="C:\Python39\Lib\site-packages\wfastcgi.py" />
        </fastCgi>
        <security>
            <!-- Additional security settings can be applied here -->
        </security>
    </system.webServer>
</configuration>
